@*@page
    @{
        ViewData["Title"] = "Log in";
    }
    @model LoginModel
    <div class="row">
        <div class="col-md-4">
            <section>
                <form method="post">
                    <h4>Use a local account to log in.</h4>
                    <hr />
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Input.Email"></label>
                        <input asp-for="Input.Email" class="form-control" />
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.Password"></label>
                        <input asp-for="Input.Password" class="form-control" />
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <div class="checkbox">
                            <label asp-for="Input.RememberMe">
                                <input asp-for="Input.RememberMe" />
                                @Html.DisplayNameFor(m => m.Input.RememberMe)
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-default btn-primary">Log in</button>
                        <a class="btn btn-info" asp-action="GoogleLogin" asp-route-returnUrl="@Model.ReturnUrl">Google</a>
                    </div>
                    <div class="form-group">
                        <p>
                            <a asp-page="./ForgotPassword">Forgot your password?</a>
                        </p>
                        <p>
                            <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                        </p>
                    </div>
                </form>
            </section>
        </div>
    </div>

    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }*@

@page
@model LoginModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">


<!-- Mirrored from codepassenger.com/html/bigshow/login.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 06 Apr 2019 23:22:59 GMT -->
<head>
    <!-- Site information -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>BigShow - Movie / Film / Cinema Template</title>
    <meta name="description" content="Bigshow is a template to jump start campaigning your various kind of movie or tv show">

    <!-- External CSS -->
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/lib/owl-carousel/owl.carousel.css">
    <link rel="stylesheet" href="~/lib/owl-carousel/owl.transitions.css">
    <link rel="stylesheet" href="~/lib/magnific-popup.js/magnific-popup.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="~/content/site.css">
    <link rel="stylesheet" href="~/content/responsive.css">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600" rel="stylesheet">

    <!-- Favicon -->
    <link rel="icon" href="images/template/favicon.png">
    <link rel="apple-touch-icon" href="images/template/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/template/icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/template/icon-114x114.png">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="assets/js/html5shiv.min.js"></script>
      <script src="assets/js/respond.min.js"></script>
    <![endif]-->

</head>

<body class="account-page">

    <div class="account-wrap">

        <a class="site-logo" href="index-2.html">
            <img src="~/images/template/logo-white.png" alt="Site Logo">
        </a>

        <form class="accountform loginform" method="post">
            <h3>Log in</h3>
            <div class="basic-field">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>

                <div class="form-group">
                    <label asp-for="Input.Password"></label>
                    <input asp-for="Input.Password" class="form-control" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>

            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label asp-for="Input.RememberMe">
                        <input asp-for="Input.RememberMe" />
                        @Html.DisplayNameFor(m => m.Input.RememberMe)
                    </label>
                </div>
            </div>
            <button type="submit">Login</button>
            <p class="signup-recover">Don't you have an account yet? <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Sign up here</a><br /><a asp-page="./ForgotPassword">I forgot my password</a></p>
        </form>
    </div>
    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }
    <!-- Script -->
    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/lib/owl-carousel/owl.carousel.js"></script>
    <script src="~/lib/magnific-popup.js/jquery.magnific-popup.min.js"></script>
    <script src="~/lib/jquery-ajaxchimp/jquery.ajaxchimp.min.js"></script>
    <script src="https://apis.google.com/js/platform.js" async defer></script>

    <script src="~/js/custom.js"></script>
</body>


<!-- Mirrored from codepassenger.com/html/bigshow/login.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 06 Apr 2019 23:23:01 GMT -->
</html>